.venv/
__pycache__/
*.pyc
.idea/
.env
firebase-key.json
pokemon-card-collection-f9e21-firebase-adminsdk-fbsvc-41460bda94.json
scraper/pokemon-card-collection-f9e21-firebase-adminsdk-fbsvc-41460bda94.json